.sampul {
    background-color: #0097b2;
    text-align: center;
}
.judul {
    margin-top: 85px;

}
.judul2{
    margin-top: 50px;
    text-align: center;
}
.kartu{
    margin-top: 50px;
}
.form_pesan{
    margin-top: 50px;
    
}
